//------------Primary
$lightRed: hsl(0, 100%, 67%);
$orange: hsl(39, 100%, 56%);
$greenTeal: hsl(166, 100%, 37%);
$cobaltBlue: hsl(234, 85%, 45%);

//-----------Gradients

// Backgrund
$slateBlueBG: hsl(252, 100%, 67%);
$royalBlueBG: hsl(241, 81%, 54%);

//Circle
$violetBlue: hsla(256, 72%, 46%, 1);
$persianBlue: hsla(241, 72%, 46%, 0);

//------------Neutral
$white: hsl(0, 0%, 100%);
$paleBlue: hsl(221, 100%, 96%);
$lavender: hsl(241, 100%, 89%);
$darkBlue: hsl(224, 30%, 27%);
