@import 'colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.attribution {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.heading {
	padding: 30px 0;
}

html {
	font-size: 18px;
	font-family: 'Hanken Grotesk', sans-serif;
}

body {
	position: relative;
	height: 100vh;

	.content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: center;
		height: 480px;
		width: 700px;
		border-radius: 35px;
		box-shadow: 10px 10px 30px 5px rgba(235, 241, 255, 1);

		.result,
		.summary {
			width: 50%;
			height: 100%;
		}

		.result {
			text-align: center;
			background: linear-gradient($slateBlueBG, $royalBlueBG);
			border-radius: 35px;
			color: $lavender;

			&__score {
				margin: auto;
				width: 170px;
				height: 170px;
				background: linear-gradient($violetBlue, $persianBlue);
				border-radius: 85px;
				align-items: center;

				p {
					padding-top: 40px;

					span {
						color: $white;
						font-size: 72px;
						font-weight: 800;
						line-height: 72px;
					}
				}
			}

			&__rank {
				padding: 40px;

				span {
					display: block;
					padding-bottom: 20px;
					font-size: 32px;
					font-weight: 700;
					color: $white;
				}
			}
		}

		.summary {
			padding: 0 40px;
			color: $darkBlue;

			&__skill {
				display: flex;
				justify-content: space-between;
				margin-bottom: 10px;
				padding: 15px;
				border-radius: 15px;

				&-title {
					display: flex;
					align-items: center;

					.icon {
						margin-right: 10px;
					}
				}

				&-score {
					color: hsl(224, 30%, 27%, 0.5);
					font-weight: bold;

					span {
						color: black;
					}
				}
			}

			.reaction {
				color: $lightRed;
				background-color: hsl(0, 100%, 67%, 5%);
			}

			.memory {
				color: $orange;
				background-color: hsl(39, 100%, 56%, 10%);
			}

			.verbal {
				color: $greenTeal;
				background-color: hsl(166, 100%, 37%, 5%);
			}

			.visual {
				color: $cobaltBlue;
				background-color: hsl(234, 85%, 45%, 5%);
			}

			.summary-btn {
				margin-top: 30px;
				width: 100%;
				height: 50px;
				background: $darkBlue;
				color: $paleBlue;
				font-weight: 700;
				letter-spacing: 0.5px;
				font-size: 16px;
				border: none;
				border-radius: 25px;
				cursor: pointer;
				font-family: 'Hanken Grotesk', sans-serif;

				&:active {
					background: linear-gradient($slateBlueBG, $royalBlueBG);
				}
			}
		}
	}
}

@media only screen and (min-width: 800px) {
}

