@import 'colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.attribution {
	padding: 20px 0;
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.heading {
	padding: 30px 0;
}

html {
	height: 100%;
	font-size: 16px;
	font-family: 'Hanken Grotesk', sans-serif;
}

body {
	position: relative;
	height: 100vh;

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.result,
		.summary {
			width: 100%;
			height: 100%;
		}

		.result {
			text-align: center;
			background: linear-gradient($slateBlueBG, $royalBlueBG);
			border-bottom-left-radius: 35px;
			border-bottom-right-radius: 35px;
			color: $lavender;

			&__score {
				margin: auto;
				width: 150px;
				height: 150px;
				background: linear-gradient($violetBlue, $persianBlue);
				border-radius: 75px;
				align-items: center;

				p {
					padding-top: 35px;

					span {
						color: $white;
						font-size: 60px;
						font-weight: 800;
						line-height: 60px;
					}
				}
			}

			&__rank {
				padding: 30px;

				span {
					display: block;
					padding-bottom: 10px;
					font-size: 32px;
					font-weight: 700;
					color: $white;
				}
			}
		}

		.summary {
			padding: 0 40px;
			color: $darkBlue;

			&__skill {
				display: flex;
				justify-content: space-between;
				margin-bottom: 10px;
				padding: 15px;
				border-radius: 15px;

				&-title {
					display: flex;
					align-items: center;

					.icon {
						margin-right: 10px;
					}
				}

				&-score {
					color: hsl(224, 30%, 27%, 0.5);
					font-weight: bold;

					span {
						color: black;
					}
				}
			}

			.reaction {
				color: $lightRed;
				background-color: hsl(0, 100%, 67%, 5%);
			}

			.memory {
				color: $orange;
				background-color: hsl(39, 100%, 56%, 10%);
			}

			.verbal {
				color: $greenTeal;
				background-color: hsl(166, 100%, 37%, 5%);
			}

			.visual {
				color: $cobaltBlue;
				background-color: hsl(234, 85%, 45%, 5%);
			}

			.summary-btn {
				margin-top: 30px;
				width: 100%;
				height: 50px;
				background: $darkBlue;
				color: $paleBlue;
				font-weight: 700;
				letter-spacing: 0.5px;
				font-size: 16px;
				border: none;
				border-radius: 25px;
				cursor: pointer;
				font-family: 'Hanken Grotesk', sans-serif;

				&:active {
					background: linear-gradient($slateBlueBG, $royalBlueBG);
				}
			}
		}
	}
}

@media only screen and (min-width: 800px) {
	body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		.content {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			margin: auto 0;
			height: 480px;
			width: 700px;
			border-radius: 35px;
			box-shadow: 10px 10px 30px 5px rgba(235, 241, 255, 1);

			.result,
			.summary {
				width: 50%;
				height: 100%;
			}

			.result {
				border-radius: 35px;

				&__score {
					width: 170px;
					height: 170px;
					border-radius: 85px;

					p {
						padding-top: 40px;

						span {
							font-size: 72px;
							line-height: 72px;
						}
					}
				}

				&__rank {
					padding: 40px;

					span {
						padding-bottom: 20px;
					}
				}
			}

			
		}
	}
}
